<article>
    <h2 class="heading">Edit Your Post</h2>
  <form class="PostEditForm">
    <div>
        <label id="titleUpdate">Update Title:</label>
      <input class="input" name="titleUpdate" type="text" value="{{post.title}}" />
    </div>
    <div>
        <label for="contentUpdate">Update your Content:</label>
      <input class="textarea" name="contentUpdate" type="text" value="{{post.text}}" />
    </div>
    <div class="is-pulled-right">
       <p class="p1">created by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a></p>
    </div>
    <button type="submit" class="button">Save Post</button>
    <button type="button" class="button delete-Post-Button">Delete Post</button>
  </form>
</article>

{{> comments post.text}}

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>